@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.wrapper {
  background-color: #e5c30a;
}

.img-flex {
  display: block;
  width: 100%;

}

.section-letter {

}

.section-icon {

}

p {
  width: 20rem;

}

h2 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}

@media only screen and (min-width: 90em) {



}
